agent.json
{
  "name": "Nike China Customer Service Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Enquiry Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload PDF",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,docx,.csv,.xlsx",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        21328,
        10048
      ],
      "id": "50e300be-5142-433f-bf00-76915d845886",
      "name": "Upload Document",
      "webhookId": "4d4e07b5-9ca2-43e8-a2a2-4420052943b7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer Name: {{ $json.body.name }}\nCustomer Email: {{ $json.body.email }}\nCustomer Tel: {{ $json.body.tel }}\nPreferred Language: {{ $json.body.language }}\n\nCustomer Message:\n{{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a Nike China customer service AI assistant. You help customers with enquiries about Nike shoes available in the China market.\n\nThe knowledge base contains Nike shoe product data including: Model name, Price (in RMB), Shoe Type (Running, Lifestyle, Basketball, Trail Running, etc.), Gender (Male, Female, Unisex), Shoe Size, and Stock Level.\n\nYour task:\n1. Greet the customer by name.\n2. Check the knowledge base (vector store) to find relevant Nike shoe information to answer their enquiry.\n3. Draft a professional, friendly email reply with specific product details (model, price in RMB, type, available sizes, stock status) when applicable.\n4. If the customer asks in Chinese or their language field is 'zh', reply in Chinese. Otherwise reply in English.\n5. If you cannot find matching shoes, suggest alternatives from the knowledge base or let them know a Nike representative will follow up.\n\nOutput ONLY the email body text. Do NOT include subject lines or email headers. Do NOT fabricate product information - only reference data from the knowledge base."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        22352,
        10032
      ],
      "id": "4d4d1a17-b5f4-4669-913c-e5f22db6c661",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        21984,
        10560
      ],
      "id": "58818055-9b26-400e-9717-c5ea92545832",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Hu8cP5b0Yhomo7VM",
          "name": "OpenAi API Key (Alfred Account)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Nike shoe product catalog for China market. Contains model names, prices in RMB, shoe types, gender, sizes, and stock levels. Use this to answer customer questions about Nike shoes.",
        "memoryKey": {
          "__rl": true,
          "value": "nike",
          "mode": "list",
          "cachedResultName": "nike"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        22400,
        10304
      ],
      "id": "d12891f3-59ec-4795-8470-211f1b84b896",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "nike",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        21504,
        10048
      ],
      "id": "0b53a28c-ce34-436e-9a75-f2e91d627f1d",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "content": "### 📚 Step 1 Upload Files to Vector Data Store",
        "height": 460,
        "width": 700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        21264,
        9984
      ],
      "typeVersion": 1,
      "id": "69bea649-b202-4daf-919c-fc73d9650573",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        21856,
        10208
      ],
      "id": "6346b14a-ab84-4e38-8a84-ad1ea3a74be9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6e9f66ac-e36a-417b-a755-08c3c99e9ee7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        22048,
        10032
      ],
      "id": "0a75d3db-8316-4c50-bf9c-d127bd74f947",
      "name": "Webhook",
      "webhookId": "6e9f66ac-e36a-417b-a755-08c3c99e9ee7"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        22096,
        10304
      ],
      "id": "f19b0fa1-1c4a-4b31-b429-849d26ce34e1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Hu8cP5b0Yhomo7VM",
          "name": "OpenAi API Key (Alfred Account)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.output }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        22608,
        9808
      ],
      "id": "403c3fd8-12fe-4a33-8faf-d13b83da96f3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "draft-field",
              "name": "draft",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        22656,
        10032
      ],
      "id": "0145efca-9728-42c7-8c17-a806af11c418",
      "name": "Store Draft"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "angch@tertiaryinfotech.com",
        "subject": "=[Nike China - Approval Required] Shoe Enquiry from {{ $('Webhook').item.json.body.name }}",
        "message": "=<h3>Customer Details</h3><p><strong>Name:</strong> {{ $('Webhook').item.json.body.name }}<br><strong>Email:</strong> {{ $('Webhook').item.json.body.email }}<br><strong>Tel:</strong> {{ $('Webhook').item.json.body.tel }}</p><h3>Customer Message</h3><p>{{ $('Webhook').item.json.body.message }}</p><hr><h3>AI Drafted Email Reply</h3><p>{{ $json.draft }}</p><hr><p>Click <strong>Approve</strong> to send this email to the customer, or <strong>Disapprove</strong> to reject.</p>",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        22944,
        10032
      ],
      "id": "5d4cf0a7-3776-4ed9-b766-18676e11aa25",
      "name": "Send Draft for Approval",
      "webhookId": "94003d0b-dfca-490a-8532-62387ed3ec1a",
      "credentials": {
        "gmailOAuth2": {
          "id": "MTzer4MNXRwyE36l",
          "name": "Gmail OAuth (Sales Account)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Check all possible approval fields from sendAndWait output\nconst data = $input.item.json;\n\n// Check every possible field that could indicate approval\nlet isApproved = false;\n\nif (data.approved === true || data.approved === 'true') isApproved = true;\nif (data.response === 'Approved') isApproved = true;\nif (data.status === 'approved') isApproved = true;\nif (data.action === 'approve') isApproved = true;\n\n// Pass through all original data plus our flag\nreturn { json: { ...data, _isApproved: isApproved } };",
        "options": {}
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23248,
        10032
      ],
      "id": "9410451d-28b4-42d5-8933-775d8681661a",
      "name": "Check Approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "route-approval",
              "leftValue": "={{ $json._isApproved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        23500,
        10032
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Route Approval"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=Nike China - Re: Your Shoe Enquiry, {{ $('Webhook').item.json.body.name }}",
        "message": "={{ $('Store Draft').item.json.draft }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        23552,
        9856
      ],
      "id": "f1aaff98-883c-46fe-885f-72049537d67c",
      "name": "Send Email to Customer",
      "webhookId": "198f98d4-416c-4dc8-aceb-baad1c82fd64",
      "credentials": {
        "gmailOAuth2": {
          "id": "MTzer4MNXRwyE36l",
          "name": "Gmail OAuth (Sales Account)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feedback-chatinput",
              "name": "chatInput",
              "value": "=The approver has rejected the previous email draft and provided feedback.\n\nOriginal customer enquiry from {{ $('Webhook').item.json.body.name }} ({{ $('Webhook').item.json.body.email }}, {{ $('Webhook').item.json.body.tel }}):\n{{ $('Webhook').item.json.body.message }}\n\nPrevious draft that was rejected:\n{{ $('Store Draft').item.json.draft }}\n\nApprover feedback:\n{{ $json.response }}\n\nPlease revise the email draft incorporating the approver's feedback. Output ONLY the revised email body text.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        23552,
        10208
      ],
      "id": "94867fbf-28fe-406c-b690-ffb00b0e8834",
      "name": "Prepare Feedback"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a Nike China customer service email editor. You receive a previously drafted email about Nike shoes that was rejected by the manager, along with their feedback. Revise the email draft incorporating the feedback while maintaining a professional, friendly tone consistent with the Nike brand. If the original email was in Chinese, keep it in Chinese. Output ONLY the revised email body text. Do NOT include subject lines or email headers."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        23856,
        10208
      ],
      "id": "7bd3df09-2d61-4362-bc4a-c9d67fa2d001",
      "name": "Redraft Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        23856,
        10448
      ],
      "id": "52746247-efe7-4e30-a2a1-31cf00587d48",
      "name": "OpenAI Chat Model Redraft",
      "credentials": {
        "openAiApi": {
          "id": "Hu8cP5b0Yhomo7VM",
          "name": "OpenAi API Key (Alfred Account)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upload Document": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Redraft": {
      "ai_languageModel": [
        [
          {
            "node": "Redraft Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Draft": {
      "main": [
        [
          {
            "node": "Send Draft for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Draft for Approval": {
      "main": [
        [
          {
            "node": "Check Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval": {
      "main": [
        [
          {
            "node": "Route Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Approval": {
      "main": [
        [
          {
            "node": "Send Email to Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Feedback": {
      "main": [
        [
          {
            "node": "Redraft Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redraft Agent": {
      "main": [
        [
          {
            "node": "Store Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c9662a10-2056-45d1-954a-a2c468384a62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd9d815cb100cab73a9cd63cc3f30fd090e73e9edbdc09a51a025bdf1bf015af"
  },
  "id": "5lGWbMEnkjHAboSe",
  "tags": []
}